.navbar {
    background: linear-gradient(180deg, #BB0826 0%, #E31B23 50%, #F8094A 100%);
    padding: 1rem 2rem;
    box-shadow: none;
    background: transparent;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.navbar-list li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    padding-bottom: 4px;
}

.navbar-list li a:hover {
    color: #d06969; /* blue-500 */
}
