.full-width-header {
  width: 100%;
  background: linear-gradient(180deg, #BB0826 0%, #E31B23 50%, #F8094A 100%);
  padding: 1.5rem 0;
  box-shadow: none;
  background: transparent;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 2rem;
}

.header-wrapper {
  background: linear-gradient(180deg, #BB0826 0%, #E31B23 50%, #F8094A 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

  
  .custom-title {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
  }
.screenshot-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.screenshot-item {
  max-width: 320px;
  text-align: center;
}
